@model WebQuanLyCongTy.Models.LichTrinhLamViec
@{
    Layout = null;
    WebQuanLyCongTy.Models.dbQuanLyCongTyEntities db = new WebQuanLyCongTy.Models.dbQuanLyCongTyEntities();
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/css/quanlylichtrinh.css" rel="stylesheet" />
</head>
<body>

    <h2 style="background-color: green; height: 58px; text-align: center; color: white; padding: 8px;">Tạo lịch trình mới</h2>

    <form action="~/LichTrinhLamViecs/Create" method="post" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label>Tên công việc</label>
        <input type="text" name="TenCongViec" placeholder="Tên công việc" required minlength="20" maxlength="150" />
        @Html.ValidationMessageFor(model => model.TenCongViec, "", new { @class = "text-danger" })
        <label>Thời gian</label>
        <input type="datetime-local" name="ThoiGian" required />
        <label>Thumbnail</label>
        <input type="file" name="anh" required />
        <label>NguoiTao</label>
        <select name="NguoiTao">
            @foreach (var i in db.NhanVien.ToList())
            {
                <option value="@i.IDNhanVien">@i.username</option>
            }
        </select>
        <button>
            @Html.ActionLink("Trở về", "Index")
        </button>
        <input type="submit" value="Thêm" />
    </form>

</body>
</html>
