@model WebQuanLyCongTy.Controllers.HomeController.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Công Ty TH</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400" rel="stylesheet" />
    <link href="~/css/trangchu.css" rel="stylesheet" />
</head>
<!--

-->

<body>

    <div class="container">
        <div class="placeholder">
            <div class="parallax-window" data-parallax="scroll" data-image-src="~/img/simple-house-01.jpg">
                <div class="tm-header">
                    <div class="row tm-header-inner">
                        <div class="col-md-6 col-12">
                            <img src="~/img/simple-house-logo.png" alt="Logo" class="tm-site-logo" />
                            <div class="tm-site-text-box">
                                <h1 class="tm-site-title">Công Ty TH</h1>
                                <h6 class="tm-site-description">Hỗ Trợ Tài Chính</h6>
                            </div>
                        </div>
                        <nav class="col-md-6 col-12 tm-nav">
                            <ul class="tm-nav-ul">
                                <li class="tm-nav-li">
                                    <a href="@Url.Action("Index", "Home")">Trang chủ</a>
                                </li>
                                <li class="tm-nav-li">
                                    <a href="@Url.Action("GioiThieu", "Home")">Giới thiệu</a>
                                </li>
                                <li class="tm-nav-li">
                                    <a href="#">Quản lý</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("Index", "LichTrinhLamViecs")">Lịch trình làm việc</a>
                                        <a href="@Url.Action("Index", "BaiDangThongBaos")">Bài đăng thông báo</a>
                                        <a href="@Url.Action("Index", "NhanViens")">Nhân viên</a>
                                        <a href="@Url.Action("Index", "PhongBans")">Phòng Ban</a>
                                        <a href="@Url.Action("Index", "TheLoais")">Thể loại</a>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

        <main>
            <header class="row tm-welcome-section">
                <h2 class="col-12 text-center tm-section-title">Welcome to TH Finance</h2>
                <div class="search">
                    <form action="@Url.Action("Index", "Home")" method="get">
                        <input type="text" name="txtSearch" value="@Model.TxtSearch" placeholder="Search..." class="search-input">
                        <button type="submit" class="search-button">Tìm</button>
                    </form>
                </div>
            </header>

            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Thông báo</a></li>
                    </ul>
                </nav>
                <form action="@Url.Action("Index", "Home")" method="get" style="display: flex;">
                    <div class="select-box">
                        <select name="filterNotica" class="form-control">
                            <option value="">--Chọn bộ lọc--</option>
                            <option value="Today" @(Model.FilterNotica == "Today" ? "selected" : "")>Hôm nay</option>
                            <option value="ThisWeek" @(Model.FilterNotica == "ThisWeek" ? "selected" : "")>Tuần này</option>
                            <option value="ThisMonth" @(Model.FilterNotica == "ThisMonth" ? "selected" : "")>Tháng này</option>
                        </select>
                    </div>
                    <button type="submit" style="margin-left: 6px; padding: 0 20px; background-color: #00a8ff; color: white; border: none;">Lọc</button>
                </form>
            </div>
            <!-- Thông Báo -->
            <div class="title" style="margin-left: 160px;">
                <h3>Thông báo </h3>
            </div>
            <div class="row tm-gallery">
                <div id="tm-gallery-page-pizza" class="tm-gallery-page">

                    @foreach (var item in Model.BaiDangThongBao)
                    {
                        <article class="tm-gallery-item">
                            <figure style="margin-right: 10px">
                                <img src="~/img/BaiDang/@item.Thumbnail" alt="Image" class="img-fluid tm-gallery-img" style="min-height: 250px; object-fit: cover; border: 1px solid #ccc; " />
                                <figcaption>
                                    <h4 class="tm-gallery-title">
                                        <a href="@Url.Action("DetailsBaiDangThongBao", "Home", new { id = item.IDBaiDang})" style="color: #6478db; font-weight: bold;">@Html.DisplayFor(modelItem => item.TieuDe)</a>
                                    </h4>
                                    <p class="tm-gallery-description">
                                        @Html.DisplayFor(modelItem => item.NoiDung)
                                    </p>
                                    <p style="font-size: 1.25rem; color: #2F956D;"> @Html.DisplayFor(modelItem => item.NhanVien.HoTen)</p>
                                    
                                    <p class="tm-gallery-price">@Html.DisplayFor(modelItem => item.ThoiGianTao)</p>
                                </figcaption>
                            </figure>
                        </article>
                    }

                </div>
            </div>


            <!-- Lich Trinh -->
            <div class="tm-paging-links">
                <nav>
                    <ul>
                        <li class="tm-paging-item"><a href="#" class="tm-paging-link">Lịch trình làm việc</a></li>
                    </ul>
                </nav>
                <form action="@Url.Action("Index", "Home")" method="get" style="display: flex;">
                    <div class="select-box">
                        <select name="filterSchedule" class="form-control">
                            <option value="">--Chọn bộ lọc--</option>
                            <option value="Today" @(Model.FilterSchedule == "Today" ? "selected" : "")>Hôm nay</option>
                            <option value="ThisWeek" @(Model.FilterSchedule == "ThisWeek" ? "selected" : "")>Tuần này</option>
                            <option value="ThisMonth" @(Model.FilterSchedule == "ThisMonth" ? "selected" : "")>Tháng này</option>
                        </select>
                    </div>
                    <button type="submit" style="margin-left: 6px; padding: 0 20px; background-color: #00a8ff; color: white; border: none;">Lọc</button>
                </form>
            </div>
            <div class="title" style="margin-left: 160px;">
                <h3>Lịch Trình Làm Việc</h3>
            </div>
            <div class="row tm-gallery">
                <div id="tm-gallery-page-pizza" class="tm-gallery-page">

                    @foreach (var item in Model.LichTrinhLamViec)
                    {
                        <article class="tm-gallery-item">
                            <figure style="margin-right: 10px">
                                <img src="~/img/LichTrinh/@item.Thumbnail" alt="Image" class="img-fluid tm-gallery-img" style="min-height: 250px; object-fit: cover; border: 1px solid #ccc; " />
                                <figcaption>
                                    <h4 class="tm-gallery-nameword">
                                        <a href="@Url.Action("DetailsLichTrinhLamViec", "Home", new { id = item.IDLichTrinh})" style="color: #6478db; font-weight: bold;">@Html.DisplayFor(modelItem => item.TenCongViec)</a>
                                    </h4>
                                    <p style="font-size: 1.25rem; color: #2F956D;"> @Html.DisplayFor(modelItem => item.NhanVien.HoTen)</p>
                                    <p class="tm-gallery-price">@Html.DisplayFor(modelItem => item.ThoiGian)</p>
                                </figcaption>
                            </figure>
                        </article>
                    }

                </div>
            </div>
        </main>

        <footer class="tm-footer text-center">
            <p>Copyright &copy; 2024 Huynh Van Toan
        </footer>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/parallax.min.js"></script>
</body>

</html>