@model WebQuanLyCongTy.Models.BaiDangThongBao

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/quanlybaidang.css"/>
</head>
<body>
    <div class="content-wrapper">
    <h3>Bạn có chắc chắn muốn xóa</h3>
        <dl class="dl-horizontal">
            <dt>
               Tiêu đề
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TieuDe)
            </dd>

            <dt>
                Thumbnail
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Thumbnail)
            </dd>

            <dt>
               Nội dung
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NoiDung)
            </dd>

            <dt>
                Thời gian tạo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ThoiGianTao)
            </dd>

            <dt>
                Nhân viên tạo
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NhanVien.username)
            </dd>

            <dt>
               Tên thể loại
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TheLoai1.TenTheLoai)
            </dd>
        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-custom" /> |
                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary-custom" })
            </div>
        }
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
