@model WebQuanLyCongTy.Models.BaiDangThongBao

@{
    Layout = null;
    WebQuanLyCongTy.Models.dbQuanLyCongTyEntities db = new WebQuanLyCongTy.Models.dbQuanLyCongTyEntities();
    WebQuanLyCongTy.Models.BaiDangThongBao bd = ViewBag.lt;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sửa bài đăng thông báo</title>
    <link href="~/css/quanlylichtrinh.css" rel="stylesheet" />
</head>
<body>

    <h2 style="background-color: green; height: 58px; text-align: center; color: white; padding: 8px;">Sửa bài đăng thông báo</h2>

    <form action="~/BaiDangThongBaos/Edit" method="post" enctype="multipart/form-data">
        <input name="IDBaiDang" type="hidden" value="@bd.IDBaiDang" />
        <label>Tiêu đề</label>
        <input type="text" name="TieuDe" value="@bd.TieuDe" placeholder="Tiêu dề bài đăng"  required minlength="20" maxlength="150" />
        <span id="titleError" class="text-danger"></span>
        <label>Thumbnail</label>
        <input type="file" name="anh" required />
        <label>Nội dung</label>
        <textarea name="NoiDung" value="@bd.NoiDung" rows="4" cols="80"></textarea>
        <label>Thể loại</label>
        <select name="TheLoai">
            @foreach (var i in db.TheLoai.ToList())
            {
                <option @(bd.TheLoai == i.IDTheLoai ? "selected" : "") value="@i.IDTheLoai">@i.TenTheLoai</option>
            }
        </select>
        <label>Thời gian tạo</label>
        <input type="datetime-local" value="@bd.ThoiGianTao" name="ThoiGianTao" required />
        <label>Người tạo</label>
        <select name="NguoiTao">
            @foreach (var i in db.NhanVien.ToList())
            {
                <option @(bd.NguoiTao == i.IDNhanVien ? "selected" : "") value="@i.IDNhanVien">@i.username</option>
            }
        </select>
        <button>
            @Html.ActionLink("Trở về", "Index")
        </button>
        <input type="submit" value="Cập nhật" />
    </form>
    <script>
        document.getElementById('createForm').addEventListener('submit', function(event) {
            var tieuDeInput = document.getElementById('TieuDe');
            var titleError = document.getElementById('titleError');
            var tieuDe = tieuDeInput.value;


            if (tieuDe.length < 20 || tieuDe.length > 150) {
                event.preventDefault(); 
                titleError.textContent = 'Tiêu đề phải có độ dài từ 20 đến 150 ký tự.';
                tieuDeInput.focus();
            } else {
                titleError.textContent = ''; 
            }
        });
    </script>

</body>
</html>
